{#
 # Store Page Template
 # ---------------
 #}

{% extends "_layout" %}

{% block content %}

<div class="container">
    <div class="row">
        <section class="col-xs-12">
            <h3 class="text-center">Store</h3>
            {% for store in entry.storeMatrix %}
                <div class="store">
                    <h2 class="header text-center">{{store.sectionTitle}}</h2>
                    <p>{{store.body}}</p>
                </div>
            {% endfor %}
        </section>
    </div>
</div>

{% endblock %}