{#
 # Tournament Page Template
 # ---------------
 #}

{% set title = entry.title %}

{% extends "_layout" %}

{% block content %}

{% macro monthConvert(meetblock) %}
  {% switch meetblock.date.month %}
    {% case 1 %} JAN
    {% case 2 %} FEB
    {% case 3 %} MAR
    {% case 4 %} APR
    {% case 5 %} MAY
    {% case 6 %} JUN
    {% case 7 %} JUL
    {% case 8 %} AUG
    {% case 9 %} SEP
    {% case 10 %} OCT
    {% case 11 %} NOV
    {% case 12 %} DEC
  {% endswitch %}
{% endmacro %}

<section id="banner-info" class="banner banner-small">
    <h1>Tournaments</h1>
</section>
<div class="tournaments container">
  {{entry.body}}
    <ul class="nav nav-pills nav-justified">
    {% set currentMonth = 0 %}
    {% for event in craft.entries.section("events").order('expiryDate') %}
      {% if event.date.month != currentMonth %}
        {% set currentMonth = event.date.month %}
        <li {% if loop.first %}class="active"{% endif %}><a data-toggle="pill" href="#month{{currentMonth}}">{{ _self.monthConvert(event) }}</a></li>
      {% endif %}
    {% endfor %}
    </ul>
  <div class="row">
    <div class="tab-content">
    {% set currentMonth = 0 %}
    {% set check = false %}
    {% for event in craft.entries.section("events").order('expiryDate') %}
      {% if (event.date.month != currentMonth) and (check == true) %}
        {% set check = false %}
        </div>
      {% endif %}
      {% if event.date.month != currentMonth %}
        {% set currentMonth = event.date.month %}
        {% set check = true %}
        <div id="month{{currentMonth}}" class="tab-pane fade in {% if loop.first %}active{% endif %}">
      {% endif %}
      {% if event.image.first() is not empty %}
     		{% set imageurl = event.image.first().url %}
     	{% else %}
     		{% set imageurl = "/resources/assets/images/quiz-event.jpg" %}
     	{% endif %}
      <div class="col-sm-6 col-lg-4 col-md-6 col-xs-12">
        <div class="event">
          <div class="image-container hidden-xs">
            <img src="{{imageurl}}" class="img-responsive"/>
          </div>
          <div class="tournament-list">
            <div class="col-xs-3 tournament-date">
              <span class="month">{{ _self.monthConvert(event) }}</span>
              <span class="date">{{event.date.day}}</span>
            </div>
            <div class="col-xs-9 tournament-info">
              <h6 class="tournament-title">{{ event.title }}</h6>
              <small class="tournament-location">{{event.tournamentLocation}}</small>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
        </div>
    </div>
  </div>
<div class="row text-center">
    <a href="{{entry.pdf.first.url}}" class="btn btn-primary">Downloadable Schedule</a>
</div>
</div>

{% endblock %}

