<!-- Template for the footer -->
<hr class="footer-hr">
<footer>
  <div class="container">
    <div class="row">
      <h6>Free Methodist Resources</h6>
      <div class="col-sm-4 col-xs-12 ">
        <a href="http://fmcusa.org/">FMCUSA</a>
      </div>
      <div class="col-sm-4 col-xs-12 ">
        <a href="http://fmcusa.org/fmmissions/">FM Missions</a>
      </div>
      <div class="col-sm-4 col-xs-12 ">
        <a href="http://fminfuse.org/">FM Infuse</a>
      </div>
    </div>
    <div class="social">
      <a href="https://www.facebook.com/fmbiblequizzing/"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
      <a href="https://twitter.com/fmquizzing"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
    </div>
    <p class="text-center copyright">Copyright {{ now.year }} {{ craft.request.serverName | ucfirst }}. All rights reserved</p>
  </div>
</footer>
