<!-- Template for the footer -->
<hr class="footer-hr">
<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-xs-12">
        <h6>Main Pages</h6>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Info</a></li>
          <li><a href="#">History</a></li>
          <li><a href="#">Media</a></li>
          <li><a href="#">Home</a></li>
        </ul>
      </div>
      <div class="col-sm-4 col-xs-12">
        <h6>Quick Links</h6>
        <ul>
          <li><a href="">Tournaments</a></li>
          <li><a href="">Conferences</a></li>
          <li><a href="">Quotes</a></li>
          <li><a href="">International</a></li>
        </ul>
      </div>
      <div class="col-sm-4 col-xs-12">
        <h6>Other Resources</h6>
        <ul>
          <li><a href="#">FMCUSA</a></li>
          <li><a href="#">FM Mission</a></li>
          <li><a href="#">FM Infuse</a></li>
          <li><a href="#">Bible Gateway</a></li>
        </ul>
      </div>
    </div>
    <div class="social">
      <a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
      <a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
    </div>
    <p class="text-center copyright">Copyright {{ now.year }} {{ craft.request.serverName | ucfirst }}. All rights reserved</p>
  </div>
</footer>
