<footer>
  <div class="container">
    <div class="row hidden-md-down">
      <div class="col-md-2">
        <ul>
          <li><a href=""><b>Home</b></a></li>
          <li><a href="">Announcements</a></li>
          <li><a href="">Mission</a></li>
          <li><a href="">Newsletter</a></li>
          <li><a href="">Facebook</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <ul>
          <li><a href=""><b>About</b></a></li>
          <li><a href="">Basics</a></li>
          <li><a href="">Conferences</a></li>
          <li><a href="">International</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <ul>
          <li><a href=""><b>Info</b></a></li>
          <li><a href="">Tournamnents</a></li>
          <li><a href="">Quotes</a></li>
          <li><a href="">Quiz Cylce</a></li>
          <li><a href="">Store</a></li>
          <li><a href="">Contact</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <ul>
          <li><a href=""><b>History</b></a></li>
          <li><a href="">Historical Data</a></li>
          <li><a href="">Stats Archive</a></li>
          <li><a href="">Hall of Fame</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <ul>
          <li><a href=""><b>Media</b></a></li>
          <li><a href="">Videos</a></li>
          <li><a href="">Photos</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <ul>
          <li><a href=""><b>Finals</b></a></li>
          <li><a href="">Current Year</a></li>
          <li><a href="">Sites Archive</a></li>
        </ul>
      </div>
    </div>
    <div class="links">
      <a href="#"><img class="logo-footer" alt="FMCUSA" src="resources/logos/FMCLogo_color_2011.png"/></a>
      <a href="#"><img class="logo-footer" alt="FM Infuse" src="resources/logos/infuse_logo.png"/></a>
    </div>
    <p class="text-right">Copyright {{ now.year }} {{ craft.request.serverName | ucfirst }}. All rights reserved</p>
  </div>
</footer>
