<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ siteUrl }}"><img id="logo" src="/resources/logos/FMCLogo_color_2011.png" alt="FMQuizzing">FM Quizzing</a>
    <div class="navbar-header">
      <a class="menu-toggle active collapsed" data-toggle="collapse" data-target="#myNavbar">
        <span class="menu-line"><div class="menu-bar"></div><div class="menu-bar"></div></span>
        <span class="menu-line"><div class="menu-bar"></div><div class="menu-bar"></div></span>
        <span class="menu-line"><div class="menu-bar"></div><div class="menu-bar"></div></span>
      </a>
    </div>
    <div class="collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <div class="container menu-container">
            <div class="row">
              <div class="col-xs-6">
                <a href="{{ siteUrl }}">
                  <div class="navbar-item" id="home">
                    <h4>Home</h4>
                  </div>
                </a>
              </div>
              <div class="col-xs-6">
                <a href="{{ siteUrl }}about">
                  <div class="navbar-item" id="about">
                    <h4>About</h4>
                  </div>
                </a>
              </div>
            </div>
          <div class="row">
            <div class="col-xs-6">
              <a href="{{ siteUrl }}info">
                <div class="navbar-item" id="info">
                    <h4>Info</h4>
                </div>
              </a>
            </div>
            <div class="col-xs-6">
              <a href="{{ siteUrl }}history">
                <div class="navbar-item" id="history">
                  <h4>History</h4>
                </div>
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <a href="{{ siteUrl }}media">
                <div class="navbar-item"  id="media">
                  <h4>Media</h4>
                </div>
              </a>
            </div>
            <div class="col-xs-6">
              <a href="{{ siteUrl }}finals">
                <div class="navbar-item"  id="finals">
                  <h4>Finals</h4>
                </div>
              </a>
            </div>
          </div>
      </ul>
    </div>
  </div>
</nav>

