{#
 # About Template
 # ---------------
 #
 #
 #}

{% extends "_layout" %}

{% block content %}
	<section id="banner-about" class="banner banner-small">
        <h1>{{ entry.title }}</h1>
    </section>
	
	<div class="container">
		{{ entry.body }}

		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-3">
				<div class="well well-rules">
					<h6>2 Teams</h6>
					<span><i class="material-icons">people</i>&nbsp;<i class="material-icons">people</i></span>
				</div>
				<p>{{ entry.highlightOne }}</p>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3">
				<div class="well well-rules">
					<h6>1 Quizmaster</h6>
					<span><i class="material-icons">person</i></span>
				</div>
				<p>{{ entry.highlightTwo }}</p>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3">
				<div class="well well-rules">
					<h6>15 Questions</h6>
					<span><i class="material-icons">forum</i></span>
				</div>
				<p>{{ entry.highlightThree }}</p>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3">
				<div class="well well-rules">
					<h6>Jumping</h6>
					<span><i class="material-icons">accessibility</i></span>
				</div>
				<p>{{ entry.highlightFour }}</p>
			</div>
		</div>

		{% set asset = entry.pdf.first() %}
		<div class="text-center btn-centered">
			<a href="{{ asset.url }}" download class="btn btn-primary">Download Rules</a>
		</div>
	</div>

	<div class="world-wide">
		<div class="container">
			<div class="about-conferences">
				
				{% if craft.entries.section('regions')|length > 0 %}
				<h2 class="text-center">Regions</h2>
					{% set regions = craft.entries.section('regions').order('title') %}
					{% for row in regions|batch(4, 'No item') %}
						<div class="row">
						{% for entry in row %}
						<a href="{{ entry.url }}">
							<div class="col-xs-6 col-md-3">
								<div class="conference">
									<h4 class="text-center"><a href="{{entry.link}}"{{ entry.title }}</h4>
								</div>
							</div>
						</a>
						{% endfor %}
						</div>
					{% endfor %}
				{%endif%}
			</div>
		</div>
		<div class="container">
			<div class="about-international">
				<h2 class="text-center">International</h2>
				{% for entry in craft.entries.section('international').order('title') %}
					<a href="{{ entry.url }}">
						<div class="col-xs-6 col-sm-4 col-md-3">
							{% set image = entry.flagImage.first() %}
							<img src="{{ image.getUrl('flagThumbnail') }}"/>
							<h6 class="text-center">{{ entry.title }}</h6>
						</div>
					</a>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
