/* Footer Styles */

footer {
  background-color: #0D47A1;
  padding: 20px;
  color: #FFFFFF;
}

footer a {
  color: #FFFFFF;
}

footer li {
  list-style-type: none;
}

footer ul {
  padding: 0px;
}

footer .row {
  margin: 50px;
  display: none;
}

footer .links {
  padding-top: 30px;
  padding-bottom: 20px;
}

.logo-footer {
  display: inline-block;
  height: 30px;
}

@media (min-width: 992px) {
  footer .row {
    display: block;
  }
}
