/***************************************/
/******* MOBILE FIRST STLYES ***********/
/***************************************/
/* CSS Should be written so that the default styles are written for mobile */
/* Media queries should be used to adjust styles for tablet and desktop sized devices */
/******************/

@import url('https://fonts.googleapis.com/css?family=PT+Sans');

/* GENERAL STYLES */
/******************/
body {
  background-color: white;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'PT Sans', sans-serif;
  font-color: rgba(0,0,0,0.87);
}

ul,ol,li {
  font-family: 'Helvetica', sans-serif;
  font-color: rgba(0,0,0,0.54);
}

p {
  font-family: 'Helvetica', sans-serif;
  font-color: rgba(0,0,0,0.54);
  font-size: 16px;
  line-height: 1.6em;
}

a {
  font-family: 'Helvetica', sans-serif;
  font-color: #0D47A1;
}

h1 {
  font-size: 2.6em;
  line-height: 1.6em;
  text-transform: uppercase;
}

h2 {
  font-size: 2.0em;
  line-height: 2.0em;
  font-weight: 400;
}

h3 {
  font-size: 2.0em;
  line-height: 2.0em;
  font-weight: 200;
}

h4 {
  font-size: 1.6em;
  line-height: 1.6em;
  font-weight: 400;
}

h5 {
  font-size: 1.6em;
  line-height: 1.6em;
  font-weight: 200;
}

h6 {
  font-size: 1em;
  line-height: 1.6em;
  font-weight: 600;
}

/* Button Styles */
.btn-primary {
  background-color:#0d47a1;
  font-size: 24px;
  padding: 20px;
  border-radius: 0px;
  border: none;
  color:white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

.btn-centered {
  /** Style for a div wrapper outside of a btn, will center the btn inside wrapper
  and provide a margin above and below */
  text-align: center;
  margin-top: 20px;
  margin-bottom: 75px;
}

.content-block {
  margin-bottom: 50px;
}

/* Styles for Header Bar and Navigation Menu */
.navbar {
  background-color: #03A9FA;
  color: #000000;
  border: none;
  margin: 0px;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.3);
}

.navbar-nav {
  margin: 0px;
  z-index: 1001;
}

.nav .navbar-nav {
  width: 100%;
  margin: 0px 0px;
}

.navbar-brand {
  padding: 0px;
}

.navbar-words {
  color: white;
  background-color: blue;
  margin-bottom: 30px;
  padding:50px 0px;
  text-align: center;
}

.menu-bar {
  background-color: white;
  width: 20px;
  height: 5px;
  margin:5px;
  display: inline-block;
}

.menu-line {
  display: block;
}

.navbar-toggle {
  border: none;
}

.menu-toggle {
  right: 0;
  margin-right: 10px;
  margin-top: 8px;
  background-color: transparent;
  border: none;
  outline:none;
  position: absolute;
}

.custom-navbar {
  float: right;
}

.menu-container {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: white;
  padding-top: 100px;
  z-index: 1000;
}

/*Banner Image CSS*/
.banner {
  text-align: left;
  position: relative;
}

.banner-small {
  height: 40vh;
  max-height: 500px;
}

.banner-full {
  height: 300px;
  max-height: 50vh;
}

.banner-small h1{
  position: absolute;
  bottom: 0px;
  padding: 0px 10px;
  margin: 0px;
  color: white;
}

/* Styles for Footer */
footer {
  background-color: #0D47A1;
  padding: 100px 0px 20px 0px;
  color: #FFFFFF;
}

footer a {
  color: #FFFFFF;
}

footer li {
  list-style-type: none;
}

footer .links img {
  max-height: 40px;
  padding: 0px 5px;
  margin-bottom: 20px;
}

footer .row {
  display: none;
}

/* HOMEPAGE STYLES */
/*******************/

/* Styles for Newsletter Registration form */
.logbutton{
    width: 100%;
    margin-bottom: 5px;
}

.newsletter-form {
  margin: 50px 0px;
}

.register-form label{
    color: black;

}
.register-form input{
    width: 100%;
    margin-bottom: 20px;
    padding: 30px 10px;
    border-radius: 2px;
    border-color: black;
    font-size: 16px;
}

#sign-up {
  width: 90%;
}

/* Styles for Facebook Feed*/
.fb-page {
  width: 100%;
  text-align: center;
  margin: 50px 0px;
}

/*Index "Homepage" Banner Styles*/
#banner-index {
  background: url("../images/banner-images/banner-index.jpg"); /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, rgba(2, 136, 209, 0.7), rgba(3, 169, 250, 0.85)), url("../images/banner-images/banner-index.jpg"); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, rgba(2, 136, 209, 0.7), rgba(3, 169, 250, 0.85)), url("../images/banner-images/banner-index.jpg"); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, rgba(2, 136, 209, 0.7), rgba(3, 169, 250, 0.85)), url("../images/banner-images/banner-index.jpg"); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, rgba(2, 136, 209, 0.7), rgba(3, 169, 250, 0.85)), url("../images/banner-images/banner-index.jpg"); /* Standard syntax */
  background-size: cover;
  background-attachment: fixed;
}

#banner-about {
  background: url("../images/banner-images/banner-about.jpg"); /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, rgba(2, 136, 209, 0.7), rgba(3, 169, 250, 0.85)), url("../images/banner-images/banner-about.jpg"); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, rgba(2, 136, 209, 0.7), rgba(3, 169, 250, 0.85)), url("../images/banner-images/banner-about.jpg"); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, rgba(2, 136, 209, 0.7), rgba(3, 169, 250, 0.85)), url("../images/banner-images/banner-about.jpg"); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, rgba(2, 136, 209, 0.7), rgba(3, 169, 250, 0.85)), url("../images/banner-images/banner-about.jpg"); /* Standard syntax */
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom;
}

#mission-statement {
  background: url("../images/background-images/world-pic.jpg"); /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, rgba(2, 136, 209, 0.7), rgba(3, 169, 250, 0.85)), url("../images/background-images/world-pic.jpg"); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, rgba(2, 136, 209, 0.7), rgba(3, 169, 250, 0.85)), url("../images/background-images/world-pic.jpg"); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, rgba(2, 136, 209, 0.7), rgba(3, 169, 250, 0.85)), url("../images/background-images/world-pic.jpg"); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, rgba(2, 136, 209, 0.7), rgba(3, 169, 250, 0.85)), url("../images/background-images/world-pic.jpg"); /* Standard syntax */
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom;
  width: 100%;
  color: white;
  text-align: center;
  padding: 30px;
}

#title-index {
  font-size: 32px;
  position: absolute;
  bottom: 25px;
  margin: 0px;
  padding: 25px;
  color: white;
}

/* About Page Styles */
.well-rules {
  text-align: center;
  background-color: #4CAF50;
  color: white;
  border-radius: 10px;
}

.well-rules h6 {
  font-size: 24px;
}

.well-rules .material-icons {
  font-size: 56px;
}

.world-wide {
  background: url("../images/background-images/world-pic.jpg"); /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1), rgba(179, 229, 252, 0.9)), url("../images/background-images/world-pic.jpg"); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom, rgba(255, 255, 255, 1), rgba(179, 229, 252, 0.9)), url("../images/background-images/world-pic.jpg"); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom, rgba(255, 255, 255, 1), rgba(179, 229, 252, 0.9)), url("../images/background-images/world-pic.jpg"); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(179, 229, 252, 0.9)), url("../images/background-images/world-pic.jpg"); /* Standard syntax */
  background-size: cover;
  background-attachment: fixed;
}

.conference {
  padding: 20px 0px;
  width: 100%;
  color: rgba(0,0,0,0.87);
}

.conference h4 {
  text-transform: uppercase;
}

.conference:hover {
  color: rgba(0,0,0,1);
  text-decoration: underline;
}

.about-international img {
  opacity: 0.8;
  width: 100%;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.3);
}

.about-international img:hover {
  opacity: 1;
  width: 100%;
  box-shadow: 0px 4px 4px rgba(0,0,0,0.3);
}

.country {
  margin: 100px auto;
}

.banner-country {
  width: 100%;
}

/***************************************/
/********** DESKTOP STLYES *************/
/***************************************/
@media only screen and (min-width: 992px) {

  /* GENERAL STYLES */
  /******************/

  /* Styles for Header Bar and  Navigation Menu */
  .navbar-nav {
      width: 50%;
      position: fixed;
      right: 0px;
  }
  .navbar-nav .container {
    margin:0px;
  }

  .menu-container {
    position: fixed;
    width: 50%;
    height: 100%;
    padding-top: 175px;
    top:0;
    right:0;
  }

  .menu-active {
    background-color: #0D47A1;
  }

  /*Banner Image CSS*/
  .banner {
    background-attachment: fixed;
  }

  .banner-small h1{
    padding: 0px 50px;
  }

  .banner-full {
    height: 80vh;
    max-height: 80vh;
  }

  /* Styles for Footer*/
  footer .row {
    display: inherit;
  }

  footer .links img {
    max-height: 75px;
    padding: 5px 10px;
  }

  /* HOMEPAGE STYLES */
  /*******************/

  /* Index "Homepage" Banner Styles*/
  #title-index {
    padding: 35vh 75px;
    font-size: 48px;
  }
}
