.hall-of-fame {
	.inductees {
		margin-top: 50px;
		text-align: center;

		.year {

			.inductee {
				height: 70px;
				background-color: #F5F5F5;
				margin: 10px auto;
				box-shadow: 0px 1px 1px rgba(0,0,0,0.3);
				text-align: left;

				&:hover {
					box-shadow: 0px 4px 4px rgba(0,0,0,0.3);
				}

				.headshot {
					display: inline-block;
					vertical-align: top;
					height: 70px;
				}


				.inductee-info {
					display: inline-block;
					height: 70px;
					margin: 5px;

					.inductee-name {
						font-size: 1em;
						line-height: 1em;
						font-weight: bold;
					}

					.inductee-city {
						font-size: 0.8em;
						line-height: 1em;
					}
				}
			}

		}
	}
}

/* CSS used here will be applied after bootstrap.css */
.carousel {
  text-align: center;
	.archive {
		font-size: 24pt;
		font-weight: bold;
		margin-bottom: 25px;
		margin-top: 20px;
	}
	.year {
		font-weight: bold;
		font-size: 18pt;
		margin-bottom: 25px;
	}
	.carousel-inner {

		.archive-list {
			font-size: 12pt;
			background-color: rgb(97,97,97);
			color: white;
			margin-bottom: 30px;
			margin-left: auto;
			margin-right: auto;
			padding:25px 0px;
			text-align: center;
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
		}
	 }
}
