// Include other CSS files and docs
@import url("../font-awesome/css/font-awesome.min.css");

 
// No media query since this is the default
// Footer Styles
.footer-hr {
	margin: 10px 0px;
	border-top: 1px solid rgba(0,0,0,0.24);
}
footer {
	padding: 50px 20px 10px 20px;
	text-align: center;

	ul {
		padding: 0px;
		margin-bottom: 10px;
		li {
			list-style-type: none;

			a {
				color: rgba(0,0,0,0.54);
			}
		}
	}

	.social {
		font-size: 40px;
		text-align: center;
		margin: 20px;
	}

	.copyright {
		font-size: 12px;
	}
}

.carousel {
  text-align: center;
	.archive {
		font-size: 24pt;
		font-weight: bold;
		margin-bottom: 25px;
		margin-top: 20px;
		a .glyphicon{
			color: black;
		}
	}
	.year {
		font-weight: bold;
		font-size: 18pt;
		margin-bottom: 25px;
	}
	.carousel-inner {

		.archive-list {
			font-size: 12pt;
			background-color: rgb(97,97,97);
			color: white;
			margin-bottom: 30px;
			padding:25px 0px;
			text-align: center;
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
		}
	 }
}

// History Page Styles
.history {
	.nav-tabs {
		width: 100%;
		background-color: #03a9FA;
		box-shadow: 0px 4px 4px rgba(0,0,0,0.1);

		li {
			width: 100%;
			text-align: center;

			a {
				padding: 15px;
				background-color: #03a9FA;
				color: rgba(256,256,256,0.54);
			}
		}
	}

	.nav-tabs>li>a:hover, .nav-tabs>li>a:hover {
		border: none;
		color: #FFFFFF;
	}

	.nav-tabs>li.active>a, &hover, &focus {
		background-color: #03a9FA;
		color: white;
		border: none;
		outline: none;
	}
}

.historical-data {
	min-height: 500px;

	.dropdown-toggle{
	    width: 100%;
	    background-color: #03A9FA;
	    border: none;
	    text-align: left;
	    font-size: 22px;
	    padding: 20px;
	}

	.dropdown-menu {
	    width: 100%;
	    border: none;
	    margin: 0px;
	    padding: 0px;

	    li a {
		    color: rgba(0,0,0,0.54);
		    font-size: 22px;
		    padding: 15px;
		    border-radius: 0px;
		}
	}

	.tab-content {
		margin-top: 20px;

		.panel-heading {
		    text-align: center; 
		}

		.panel-body {
			text-align: left; 
		}
	}

	.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
		background-color: #F5F5F5;
		color: rgba(0,0,0,0.87);
	}

	.btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary:active:focus, .open>.dropdown-toggle.btn-primary:active:hover,
	.open>.dropdown-toggle.btn-primary:hover, .open>.dropdown-toggle.btn-primary, .open>.dropdown-toggle.btn-primary:focus {
    	background-color: #03A9FA;
	}
}

.hall-of-fame {
	.inductees {
		margin: 50px auto;
		text-align: center;

		.year {
			text-align: left;

			.inductee {
				height: 70px;
				background-color: #F5F5F5;
				margin: 10px auto;
				box-shadow: 0px 1px 1px rgba(0,0,0,0.3);
				text-align: left;
				cursor: pointer;

				&:hover {
					box-shadow: 0px 4px 4px rgba(0,0,0,0.3);
				}

				.headshot {
					display: inline-block;
					vertical-align: top;
					height: 70px;
				}


				.inductee-info {
					display: inline-block;
					height: 70px;
					margin: 5px;

					.inductee-name {
						font-size: 1em;
						line-height: 1em;
						font-weight: bold;
					}

					.inductee-city {
						font-size: 0.8em;
						line-height: 1em;
					}
				}
			}

			.modal-dialog {
				width: 100%;
				margin: 0px;
				border-radius: 0px;

				.modal-content {
					min-height: 100vh;

					.modal-header {
						border: none;
						padding: 0px 15px;

						.close {
							margin: 0px;
							font-size: 54px;
							font-weight: normal;
							color: rgba(0,0,0,0.54);
							opacity: 1;
						}
					}

					.modal-body {
						padding: 20px;

						p {
							line-height: 1.2em;
						}

						.general-info {
							background-color: #F5F5F5;
							border-radius: 4px;
							width: 100%;

							img {
								width: 100%;
								display: inline-block;
								border-radius: 4px 4px 0px 0px;
							}

							.title-info {
								display: inline-block;
								vertical-align: middle;
								margin-left: 10px;

								.name {
									margin-bottom: 0px;
								}
							}
						}

						.detailed-info {
							margin: 20px 0px;
						}

						.questions {
							.panel-group {
								.panel {
									.panel-heading {
										background-color: #616161;
										padding: 15px;

										.panel-title {
											a {
												color: #FFFFFF;
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

// Store Page Styles
.store {
    background-color: #ADD8E6;
    line-height: 3;

    .header {
	    color: #fff;
	    background-color: #03A9FA;
	    line-height: 2;
	}
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { }

// Medium devices (tablets, 768px and up)
@media only screen and (min-width: 768px) {
	
	// History Page Styles
	.history {
		.nav-tabs {
			li {
				width: 33.33%;

				a {
					font-weight: bold;
					font-size: 24px;
				}
			}
		}
		.nav-tabs>li.active>a, &hover, &focus {
			border-bottom: 4px solid white;
		}
	}

	.hall-of-fame {
		.inductees {
			.year {
				.modal-dialog {
					width: 96%;
					margin: 2%;

					.modal-content {
						.modal-body {
							padding: 20px 50px 50px 50px;
							.general-info {
								img {
									width: 200px;
								}
							}
						}
					}
				}
			}
		}
	}

	.historical-data {
		.panel {
			height: 425px;
			overflow: scroll;
		}
	}
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
	// Footer Styles
	footer {
		.row {
    		display: inherit;
  		}
		
		.links {
			img {
				max-height: 75px;
				padding: 5px 10px;
			}
		}
	}
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { }