// Include other CSS files and docs
@import url("../font-awesome/css/font-awesome.min.css");

// Variables
$primary: #03A9FA;
$primary-light: #B3E5FC;
$primary-dark: #0288D1;
$accent1-light: #1976D2;
$accent1-dark: #0D47A1;
$accent2: #4CAF50;
$gray: #9E9E9E;
$gray-light: #F5F5F5;
$gray-dark: #616161;
$black: #000000;
$white: #FFFFFF;

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default
 
// No media query since this is the default
// Footer Styles
.footer-hr {
	margin: 10px 0px;
	border-top: 1px solid rgba(0,0,0,0.24);
}
footer {
	padding: 50px 20px 10px 20px;
	text-align: center;

	ul {
		padding: 0px;
		margin-bottom: 10px;
		li {
			list-style-type: none;

			a {
				color: rgba(0,0,0,0.54);
			}
		}
	}

	.social {
		font-size: 40px;
		text-align: center;
		margin: 20px;
	}

	.copyright {
		font-size: 12px;
	}

	.links {
		img {
			max-height: 40px;
			padding: 0px 5px;
			margin-bottom: 20px;
		}
	}
}

.carousel {
  text-align: center;
	.archive {
		font-size: 24pt;
		font-weight: bold;
		margin-bottom: 25px;
		margin-top: 20px;
		a .glyphicon{
			color: black;
		}
	}
	.year {
		font-weight: bold;
		font-size: 18pt;
		margin-bottom: 25px;
	}
	.carousel-inner {

		.archive-list {
			font-size: 12pt;
			background-color: rgb(97,97,97);
			color: white;
			margin-bottom: 30px;
			padding:25px 0px;
			text-align: center;
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
		}
	 }
}

// History Page Styles
.history {
	.nav-tabs {
		width: 100%;
		background-color: #03a9FA;
		box-shadow: 0px 4px 4px rgba(0,0,0,0.1);

		li {
			width: 100%;
			text-align: center;

			a {
				padding: 15px;
				background-color: #03a9FA;
				color: rgba(256,256,256,0.54);
			}
		}
	}

	.nav-tabs>li>a:hover, .nav-tabs>li>a:hover {
		border: none;
		color: #FFFFFF;
	}

	.nav-tabs>li.active>a, &hover, &focus {
		background-color: #03a9FA;
		color: white;
		border: none;
		outline: none;
	}
}

.historical-data {
	min-height: 500px;

	.dropdown-toggle{
	    width: 100%;
	    background-color: #03A9FA;
	    border: none;
	    text-align: left;
	    font-size: 22px;
	    padding: 20px;
	}

	.dropdown-menu {
	    width: 100%;
	    border: none;
	    margin: 0px;
	    padding: 0px;

	    li a {
		    color: rgba(0,0,0,0.54);
		    font-size: 22px;
		    padding: 15px;
		    border-radius: 0px;
		}
	}

	.tab-content {
		margin-top: 20px;

		.panel-heading {
		    text-align: center;
		}

		.panel-body {
			text-align: left;
		}
	}

	.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
		background-color: #F5F5F5;
		color: rgba(0,0,0,0.87);
	}

	.btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary:active:focus, .open>.dropdown-toggle.btn-primary:active:hover,
	.open>.dropdown-toggle.btn-primary:hover, .open>.dropdown-toggle.btn-primary, .open>.dropdown-toggle.btn-primary:focus {
    	background-color: #03A9FA;
	}
}

.hall-of-fame {
	.inductees {
		margin: 50px auto;
		text-align: center;

		.year {
			text-align: left;

			.inductee {
				height: 70px;
				background-color: #F5F5F5;
				margin: 10px auto;
				box-shadow: 0px 1px 1px rgba(0,0,0,0.3);
				text-align: left;
				cursor: pointer;

				&:hover {
					box-shadow: 0px 4px 4px rgba(0,0,0,0.3);
				}

				.headshot {
					display: inline-block;
					vertical-align: top;
					height: 70px;
				}


				.inductee-info {
					display: inline-block;
					height: 70px;
					margin: 5px;

					.inductee-name {
						font-size: 1em;
						line-height: 1em;
						font-weight: bold;
					}

					.inductee-city {
						font-size: 0.8em;
						line-height: 1em;
					}
				}
			}

			.modal-dialog {
				width: 100%;
				margin: 0px;
				border-radius: 0px;

				.modal-content {
					min-height: 100vh;

					.modal-header {
						border: none;
						padding: 0px 15px;

						.close {
							margin: 0px;
							font-size: 54px;
							font-weight: normal;
							color: rgba(0,0,0,0.54);
							opacity: 1;
						}
					}

					.modal-body {
						padding: 20px;

						p {
							line-height: 1.2em;
						}

						.general-info {
							background-color: #F5F5F5;
							border-radius: 4px;
							width: 100%;

							img {
								width: 100%;
								display: inline-block;
								border-radius: 4px 4px 0px 0px;
							}

							.title-info {
								display: inline-block;
								vertical-align: middle;
								margin-left: 10px;

								.name {
									margin-bottom: 0px;
								}
							}
						}

						.detailed-info {
							margin: 20px 0px;
						}

						.questions {
							.panel-group {
								.panel {
									.panel-heading {
										background-color: #616161;
										padding: 15px;

										.panel-title {
											a {
												color: #FFFFFF;
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

// Store Page Styles
.store {
    background-color: #ADD8E6;
    line-height: 3;

    .header {
	    color: #fff;
	    background-color: #03A9FA;
	    line-height: 2;
	}
}

.info-page {
	.tournaments {
		.archive{
			margin-bottom: 0px;
		}
		.container {
			h3 {
			font-weight: bold;
			display: inline;
			font-size: 24pt;
			}
			.month {
			margin-top: 5px;
			margin-bottom: 20px;
			}
			.tournament-list {
				background-color: rgb(245,245,245);
				border-style: groove;
				border-width: .5px;
				margin-bottom: 10px;
				height: 65px;
				h4 {
					font-size: 12pt;
				}
			}
			.schedule-btn {
				height: 65px;
				border-radius: 3px;
				margin-bottom: 35px;
				margin-top: 20px;
			}
		}
	}
	.quotes{
		background-color: #03A9FA;
		background: -webkit-linear-gradient(#0288D1, #03A9FA, #0288D1); /* For Safari 5.1 to 6.0 */
	  background: -o-linear-gradient(#0288D1, #03A9FA, #0288D1); /* For Opera 11.1 to 12.0 */
	  background: -moz-linear-gradient(#0288D1, #03A9FA, #0288D1); /* For Firefox 3.6 to 15 */
	  background: linear-gradient(#0288D1, #03A9FA, #0288D1); /* Standard syntax */
	  background-size: cover;
		padding-bottom: 25px;
		.container{
			h3 {
				font-size: 32pt;
				margin-top: 25px;
				// display: inline;
				color: white;
				text-align: center;
			}
			.quotes-btn{
			 text-align: center;
		}
		}
	}
	.group {
		margin-top: 25px;
		.cycle {
			text-align: center;
			h3 {
				margin-bottom: -10px;
				font-weight: bold;
				font-size: 18pt;
			}
			h4 {
				margin-bottom: -12px;
				font-weight: bold;
			}
		}
		.supplies {
			width: 100%;
			text-align: center;

			h3 {
				font-weight: bold;
			}
			.supplies-btn {
				height: 65px;
				padding-left: 75px;
				padding-right: 75px;
				border-radius: 3px;
				margin-bottom: 50px;
			}
		}
		.contact {
			text-align: center;
			h3 {
				font-weight: bold;
			}
			h4 {
				margin-top: -5px;
			}
		}
	}
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { }
	
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	// History Page Styles
	.history {
		.nav-tabs {
			li {
				width: 33.33%;

				a {
					font-weight: bold;
					font-size: 24px;
				}
			}
		}
		.nav-tabs>li.active>a, &hover, &focus {
			border-bottom: 4px solid white;
		}
	}

	.hall-of-fame {
		.inductees {
			.year {
				.modal-dialog {
					width: 96%;
					margin: 2%;

					.modal-content {
						.modal-body {
							padding: 20px 50px 50px 50px;
							.general-info {
								img {
									width: 200px;
								}
							}
						}
					}
				}
			}
		}
	}

	.historical-data {
		.panel {
			height: 425px;
			overflow: scroll;
		}
	}
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
	// Footer Styles
	footer {
		.row {
    		display: inherit;
  		}

		.links {
			img {
				max-height: 75px;
				padding: 5px 10px;
			}
		}
	}
	.info-page {
		.group {
			margin-top: 100px;
			.well-info {
				height:250px;
				margin-bottom: 100px;
			}
			.supplies {
				background-color: #f5f5f5;
						h3 {
							padding-top: 0px;
							margin-top: 40px;
						}
				}
			.contact {
				h3 {
					margin-top: 45px;
				}
			}
		}
	}
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}