{#
 # History Index Tempalate
 # ---------------
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}

{% block content %}
<!-- Banner Image is brought in via CSS background Image -->
<section id="banner-about" class="banner banner-small">
        <h1>{{ entry.title }}</h1>
</section>

<div class="history">
	<!-- Creates the tabs for the page -->
	<ul class="nav nav-tabs">
	  <li class="active"><a data-toggle="tab" href="#historicalData">Hisorical Data</a></li>
	  <li><a data-toggle="tab" href="#hallOfFame">Hall Of Fame</a></li>
	  <li><a data-toggle="tab" href="#archive">Archive</a></li>
	</ul>

	<div class="tab-content">
		<div id="historicalData" class="tab-pane fade in active">
			<!-- Includes the historical data tab of the page -->
			{% include "history/_includes/_historical_data.html" %}
		</div>
		<div id="hallOfFame" class="tab-pane fade in">
			<!-- Includes the hall of fame tab of the page -->
			{% include "history/_includes/_hall_of_fame.html" %}
		</div>
		<div id="archive" class="tab-pane fade in active">
			<!-- Includes the archive tab of the page -->
			{# {% include "history/_includes/_archive.html" %} #}
		</div>
	</div>
</div>	
{% endblock %}
