{#
 # About Template
 # ---------------
 #
 #
 #}

{% extends "_layout" %}

{% block content %}
	<section id="banner-about" class="banner banner-small">
        <h1>{{ entry.title }}</h1>
    </section>
	
	<div class="container">
		<div class="row">
		{% set length = entry.basicContentRow|length %}
		{% for basicContentBlock in entry.basicContentRow %}
			{% if length == 1 %}
				{% set columnClass = "col-xs-12" %}
			{% elseif length == 2 %}
				{% set columnClass = "col-sm-6" %}
			{% elseif length == 3 %}
				{% set columnClass = "col-sm-4" %}
			{% elseif length == 4 %}
				{% set columnClass = "col-md-3 col-sm-6" %}
			{% endif %}	
			<div class="{{ columnClass }} content-block text-center">
				{{ basicContentBlock.contentRichText }}
			</div>
		{% endfor %}
		</div>

		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-3">
				<div class="well well-rules">
					<h6>2 Teams</h6>
					<span><i class="material-icons">people</i>&nbsp;<i class="material-icons">people</i></span>
				</div>
				<p>{{ entry.highlightOne }}</p>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3">
				<div class="well well-rules">
					<h6>1 Quizmaster</h6>
					<span><i class="material-icons">person</i></span>
				</div>
				<p>{{ entry.highlightTwo }}</p>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3">
				<div class="well well-rules">
					<h6>15 Questions</h6>
					<span><i class="material-icons">forum</i></span>
				</div>
				<p>{{ entry.highlightThree }}</p>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3">
				<div class="well well-rules">
					<h6>Jumping</h6>
					<span><i class="material-icons">accessibility</i></span>
				</div>
				<p>{{ entry.highlightFour }}</p>
			</div>
		</div>

		{% set asset = entry.filePDF.first() %}
		<div class="text-center btn-centered">
			<a href="{{ asset.url }}" download class="btn btn-primary">Download Rules</a>
		</div>
	</div>

	<div class="world-wide">
		<div class="container">
			<div class="about-conferences">
				<h2 class="text-center">Conferences</h2>
				{% for entry in craft.entries.section('conferences') %}
					<a href="{{ entry.url }}">
						<div class="col-xs-6 col-sm-4 col-md-3">
							<div class="conference">
								<h4 class="text-center">{{ entry.title }}</h4>
								<p class="text-center">{{ entry.location }}</p>
							</div>
						</div>
					</a>
				{% endfor %}
			</div>
		</div>
		<div class="container">
			<div class="about-international">
				<h2 class="text-center">International</h2>
				{% for entry in craft.entries.section('international') %}
					<a href="{{ entry.url }}">
						<div class="col-xs-6 col-sm-4 col-md-3">
							{% set image = entry.bannerImage.first() %}
							<img src="{{ image.getUrl('flagThumbnail') }}"/>
							<h6 class="text-center">{{ entry.title }}</h6>
						</div>
					</a>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
