{#
 # Homepage template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}

{% block content %}
	<section id="banner-index" class="banner banner-small">
        <h1>{{ entry.title }}</h1>
    </section>
	
	<div class="container">
		<h2 class="text-center">{{ entry.mainHeading }}</h2>
		<div class="row">
		{% for contentBlock in entry.contentMatrix %}
			<div class="col-md-6 content-block">
			{{ contentBlock.contentRichText }}
			</div>
		{% endfor %}
		</div>

		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-3">
				<div class="well well-rules">
					<h3>2 Teams</h3>
					<span><i class="material-icons">people</i>&nbsp;<i class="material-icons">people</i></span>
				</div>
				<p>Quizzing Content</p>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3">
				<div class="well well-rules">
					<h3>1 Quizmaster</h3>
					<span><i class="material-icons">person</i></span>
				</div>
				<p>Quizzing Content</p>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3">
				<div class="well well-rules">
					<h3>15 Questions</h3>
					<span><i class="material-icons">forum</i></span>
				</div>
				<p>Quizzing Content</p>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3">
				<div class="well well-rules">
					<h3>Jumping</h3>
					<span><i class="material-icons">accessibility</i></span>
				</div>
				<p>Quizzing Content</p>
			</div>
		</div>
		<div class="text-center btn-centered">
			<a href="{{ asset.url }}" class="btn btn-primary">Download Rules</a>
		</div>
	</div>

	<div class="world-wide">
		<div class="container">
			<div style="height: 500px;"></div>
			<div class="about-conferences">
				<h2 class="text-center">Conferences</h2>
			</div>
			<div class="about-international">
				<h2 class="text-center">International</h2>
			</div>
		</div>
	</div>
{% endblock %}
