<!DOCTYPE html>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="../public/resources/css/styles.css">


<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<div id="myCarousel" class="carousel slide t" data-ride="carousel">
  <div class="archive"> Stats Archive </div>
   <div class="carousel-inner" role="listbox">
     <div class="item active">
       <div class="year">
       <a class="left" href="#myCarousel" role="button" data-slide="prev">
         <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
         <span class="sr-only">Previous</span>
       </a> 2016-2017
       <a class="right" href="#myCarousel" role="button" data-slide="next">
         <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
         <span class="sr-only">Previous</span>
       </a>
      </div>
       <div class="row">
         <div class="col-md-4 col-xs-6">
           <div class="archive-list col-md-12 col-xs-12">September</div>
         </div>
         <div class="col-xs-6 col-md-4">
         <div class="archive-list col-md-12 col-xs-12">October</div>
         </div>
         <div class="col-xs-6 col-md-4">
         <div class="archive-list col-md-12 col-xs-12">November</div>
         </div>
         <div class="col-xs-6 col-md-4">
         <div class="archive-list col-md-12 col-xs-12">December</div>
         </div>
         <div class="col-xs-6 col-md-4">
         <div class="archive-list col-md-12 col-xs-12">January</div>
         </div>
         <div class="col-md-4 col-xs-6">
         <div class="archive-list col-md-12 col-xs-12">February</div>
         </div>
         <div class="col-xs-6 col-md-4">
         <div class="archive-list col-md-12 col-xs-12">March</div>
         </div>
         <div class="col-xs-6 col-md-4">
         <div class="archive-list col-md-12 col-xs-12">April</div>
         </div>
         <div class="col-xs-6 col-md-4">
         <div class="archive-list col-md-12 col-xs-12">May</div>
         </div>
         <div class="col-xs-6 col-md-12">
         <div class="archive-list col-md-12 col-xs-12">Finals</div>
         </div>
       </div>
     </div>

     <div class="item">
       <div class="year">
       <a class="left" href="#myCarousel" role="button" data-slide="prev">
         <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
         <span class="sr-only">Previous</span>
       </a>  2015-2016
       <a class="right" href="#myCarousel" role="button" data-slide="next">
         <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
         <span class="sr-only">Previous</span>
       </a>
      </div>
       <div class="row">
         <div class="archive-list col-md-4 col-xs-6">September</div>
         <div class="archive-list col-md-4 col-xs-6">October</div>
         <div class="archive-list col-md-4 col-xs-6">November</div>
         <div class="archive-list col-md-4 col-xs-6">December</div>
         <div class="archive-list col-md-4 col-xs-6">January</div>
         <div class="archive-list col-md-4 col-xs-6">February</div>
         <div class="archive-list col-md-4 col-xs-6">March</div>
         <div class="archive-list col-md-4 col-xs-6">April</div>
         <div class="archive-list col-md-4 col-xs-6">May</div>
         <div class="archive-list col-md-12 col-xs-6">Finals</div>
       </div>
     </div>

     <div class="item">
       <div class="year">
       <a class="left" href="#myCarousel" role="button" data-slide="prev">
         <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
         <span class="sr-only">Previous</span>
       </a>  2014-2015
       <a class="right" href="#myCarousel" role="button" data-slide="next">
         <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
         <span class="sr-only">Previous</span>
       </a>
     </div>
       <div class="row">
         <div class="archive-list col-md-4 col-xs-6">September</div>
         <div class="archive-list col-md-4 col-xs-6">October</div>
         <div class="archive-list col-md-4 col-xs-6">November</div>
         <div class="archive-list col-md-4 col-xs-6">December</div>
         <div class="archive-list col-md-4 col-xs-6">January</div>
         <div class="archive-list col-md-4 col-xs-6">February</div>
         <div class="archive-list col-md-4 col-xs-6">March</div>
         <div class="archive-list col-md-4 col-xs-6">April</div>
         <div class="archive-list col-md-4 col-xs-6">May</div>
         <div class="archive-list col-md-12 col-xs-6">Finals</div>
       </div>
     </div>

     <div class="item">
       <div class="year">
       <a class="left" href="#myCarousel" role="button" data-slide="prev">
         <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
         <span class="sr-only">Previous</span>
       </a>  2013-2014
       <a class="right" href="#myCarousel" role="button" data-slide="next">
         <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
         <span class="sr-only">Previous</span>
       </a>
     </div>
    <div class="row">
      <div class="archive-list col-md-4 col-xs-6">September</div>
      <div class="archive-list col-md-4 col-xs-6">October</div>
      <div class="archive-list col-md-4 col-xs-6">November</div>
      <div class="archive-list col-md-4 col-xs-6">December</div>
      <div class="archive-list col-md-4 col-xs-6">January</div>
      <div class="archive-list col-md-4 col-xs-6">February</div>
      <div class="archive-list col-md-4 col-xs-6">March</div>
      <div class="archive-list col-md-4 col-xs-6">April</div>
      <div class="archive-list col-md-4 col-xs-6">May</div>
      <div class="archive-list col-md-12 col-xs-6">Finals</div>
    </div>
     </div>
   </div>

   <!-- Left and right controls -->


 </div>

 <script src="../public/resources/js/custom.js"></script>
