<footer>
  <div class="row">
    <div class="large-2 columns">
      <ul>
        <a href=""><li><b>Home</b></li></a>
        <a href=""><li>Announcements</li></a>
        <a href=""><li>Mission</li></a>
        <a href=""><li>Newsletter</li></a>
        <a href=""><li>Facebook</li></a>
      </ul>
    </div>
    <div class="large-2 columns show-for-large-up">
      <ul>
        <a href=""><li><b>About</b></li></a>
        <a href=""><li>Basics</li></a>
        <a href=""><li>Conferences</li></a>
        <a href=""><li>International</li></a>
      </ul>
    </div>
    <div class="large-2 columns show-for-large-up">
      <ul>
        <a href=""><li><b>Info</b></li></a>
        <a href=""><li>Tournamnents</li></a>
        <a href=""><li>Quotes</li></a>
        <a href=""><li>Quiz Cylce</li></a>
        <a href=""><li>Store</li></a>
        <a href=""><li>Contact</li></a>
      </ul>
    </div>
    <div class="large-2 columns show-for-large-up">
      <ul>
        <a href=""><li><b>History</b></li></a>
        <a href=""><li>Historical Data</li></a>
        <a href=""><li>Stats Archive</li></a>
        <a href=""><li>Hall of Fame</li></a>
      </ul>
    </div>
    <div class="large-2 columns">
      <ul>
        <a href=""><li><b>Media</b></li></a>
        <a href=""><li>Videos</li></a>
        <a href=""><li>Photos</li></a>
      </ul>
    </div>
    <div class="large-2 columns show-for-large-up">
      <ul>
        <a href=""><li><b>Finals</b></li></a>
        <a href=""><li>Current Year</li></a>
        <a href=""><li>Sites Archive</li></a>
      </ul>
    </div>
  </div>
  <div class="links">
    <a href="#">FMC USA</a>
    <a href="#">FM Infuse</a>
  </div>
  <p class="text-right">Copyright {{ now.year }} {{ craft.request.serverName | ucfirst }}. All rights reserved  •  Built with <a href="http://craftcms.com">Craft</a></p>
</footer>
