{#
History Tempalte
 # ---------------
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}

{% block content %}
<section id="banner-about" class="banner banner-small">
        <h1>{{ entry.title }}</h1>
</section>
<div class="history">
	<ul class="nav nav-tabs">
	  <li class="active"><a data-toggle="tab" href="#historicalData">Hisorical Data</a></li>
	  <li><a data-toggle="tab" href="#hallOfFame">Hall Of Fame</a></li>
	  <li><a data-toggle="tab" href="#archive">Archive</a></li>
	</ul>

	<div class="tab-content">
		<div id="historicalData" class="tab-pane fade in active">
		</div>
		<div id="hallOfFame" class="tab-pane fade in">
			<div class="hall-of-fame">
				<div class="container">
				<h3 class="text-center">{{ entry.mainHeading }}</h3>
				{{ entry.body }}
				</div>

				<div class="container inductees">
				{# Iterates over every year in the section hall of fame #}
					<h3>Inductees</h3>
				{% for year in craft.entries.section('hallOfFame').type('year') %}
					<div class="year">
						{# Display the year #}
						<h4>{{ year.title }}</h4>
						<div class="row">
							{% for inductee in year.descendants %}
								<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
									<div type="button" class="inductee" data-toggle="modal" data-target="#{{inductee.id}}">
										{% set headshot = inductee.headshot.first() %}
										{# Displays the headshot, name, and city of the inductee #}
										<img class="headshot" src="{{ headshot.url }}">
										<div class="inductee-info">
											<h6 class="inductee-name">{{ inductee.title }}</h6>
											<p class="inductee-city">{{ inductee.churchCity }}</p>
										</div>
									</div>
								</div>

								<!-- Modal -->
								<div id="{{inductee.id}}" class="modal fade" role="dialog">
									<div class="modal-dialog">

									<!-- Modal content-->
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal">&times;</button>
											</div>
											<div class="modal-body text-left">
												<div class="row">
													<div class="col-xs-12">
														<div class="general-info">
															<img class="headshot" src="{{ headshot.url }}">
															<div class="title-info">
																<h5 class="name">{{ inductee.title }}</h5>
																<p class="city">{{ inductee.churchCity }}</p>
															</div>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="detailed-info">
														<div class="col-md-6">
															<p><b>Church:</b> {{ inductee.churchName }}</p>
															<p><b>Years Quizzed:</b> {{ inductee.yearsQuizzed }}</p>
															<p><b>Notable Results:</b></p>
															<ul>
															{% for notableResult in inductee.notableResults %}
																<li>{{ notableResult.year }} - {{ notableResult.result }}</li>
															{% endfor %}
															</ul>
														</div>
														<div class="col-md-6">
															</ul>
															<p><b>Favorite Scripture:</b></p>
															<div>{{ inductee.favoriteScripture }}</div>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-xs-12">
														<div class="questions">
															<h5>Questions & Answers</h5>
															<div class="panel-group" id="accordion">
															{% for QandA in inductee.questionsAndAnswers %}
																	<div class="panel panel-default">
																		<div class="panel-heading">
																			<p class="panel-title">
																			<a data-toggle="collapse" data-parent="#accordion" href="#{{ QandA.id }}">{{ QandA.question }}</a>
																			</p>
																		</div>
																		<div id="{{ QandA.id }}" class="panel-collapse collapse">
																			<div class="panel-body">
																				{{ QandA.answer }}
																			</div>
																		</div>
																	</div>
															{% endfor %}
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							{% endfor %}
						</div>	
					</div>
				{% endfor %}
				</div>
			</div>
		</div>
		<div id="archive" class="tab-pane fade in active">
		</div>
	</div>
</div>	
{% endblock %}
