{#
 # Homepage template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}

{% block content %}
	<!-- DO NOT REMOVE UNLESS CHANGING OR REMOVING FACEBOOK FEED -->
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=162359470909163";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>

	<!-- INCLUDING BANNER IMAGE TEMPLATE -->
	<div id="banner-index" class="banner banner-full">
        <h1 id="title-index">Free Methodist Bible Quizzing</h1>
    </div>
   	{% include "_includes/_announcements.html" %}
    <div id="mission-statement">
    	<div class="container">
        	<h3>Mission Statment</h3>
        	<p>{{ entry.missionStatement }}</p>
        </div>
    </div>
	<div class="container">
		<div class="row row-home">
			<div class="col-sm-6">
				<div class="container-fluid newsletter-form">
					<form action="post" action="http://www.ymlp.com/subscribe.php?fmquizzing" class="register-form">
						<h3 class="text-center">Newsletter Sign Up</h3>
						<input name="YMLP0" class="form-control" type="text" placeholder="Email"></input>
						<input name="YMLP1" class="form-control" type="text" placeholder="Church"></input>
						<input name="YMLP2" class="form-control" type="text" placeholder="Conference"></input>
						<input type="submit" class="btn btn-primary logbutton"></input>
				  	</form>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="fb-page" data-href="https://www.facebook.com/fmbiblequizzing/" data-tabs="timeline, albums" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true"><blockquote cite="https://www.facebook.com/fmbiblequizzing/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/fmbiblequizzing/">Free Methodist Bible Quizzing</a></blockquote>
				</div>
			</div>	
		</div>
	</div>
{% endblock %}
