<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="../public/resources/logos/FMCLogo_color_2011.png" alt="FMQuizzing" style="width:75px;"></a>
    <div class="navbar-header custom-navbar">
      <a class="menu-toggle active" data-toggle="collapse" data-target="#myNavbar">
        <span class="menu-line"><div class="menu-bar"></div><div class="menu-bar"></div></span>
        <span class="menu-line"><div class="menu-bar"></div><div class="menu-bar"></div></span>
        <span class="menu-line"><div class="menu-bar"></div><div class="menu-bar"></div></span>
      </a>
    </div>
  </div>
</nav>
<div class="collapse" id="myNavbar">
  <ul class="nav navbar-nav">
    <div class="container menu-container">
      <div class="row">
        <div class="custom-menu">
          <div class="col-xs-6">
            <a href="#">
              <div class="navbar-word-home">
                HOME
              </div>
            </a>
          </div>
          <div class="col-xs-6">
            <a href="#">
              <div class="navbar-word-about">
                ABOUT
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="custom-menu">
          <div class="col-xs-6">
            <a href="#">
              <div class="navbar-word-info">
                INFO
              </div>
            </a>
          </div>
        </div>
        <div class="col-xs-6">
          <a href="#">
            <div class="navbar-word-history">
              HISTORY
            </div>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <a href="#">
            <div class="navbar-word-media">
              MEDIA
            </div>
          </a>
        </div>
        <div class="col-xs-6">
          <a href="#">
            <div class="navbar-word-finals">
              FINALS
            </div>
          </a>
        </div>
      </div>
    </div>
  </ul>
</div>
