<head>
  <link rel="stylesheet" href="../public/resources/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../public/resources/css/custom.css">
  <!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="menu-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="menu-line"><div class="menu-bar"></div><div class="menu-bar"></div></span>
        <span class="menu-line"><div class="menu-bar"></div><div class="menu-bar"></div></span>
        <span class="menu-line"><div class="menu-bar"></div><div class="menu-bar"></div></span>
      </button>
      <a class="navbar-brand" href="#">FMQuizzing</a>
    </div>
    <div class="collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-words">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">HOME</a></li>
        <li><a href="#">ABOUT</a></li>
        <li><a href="#">INFO</a></li>
        <li><a href="#">HISTORY</a></li>
        <li><a href="#">MEDIA</a></li>
        <li><a href="#">FINALS</a></li>
      </ul>
    </div>
  </div>
</nav>
