/*
 * Announcements template
 */
.container
{
    width: 100%;
}

.carousel-control.left, .announcements .carousel-control.right
{
    background: none;
}

.carousel-control
{
    position: absolute;
    top: 45%;
    bottom: 0;
    left: 0;
    width: 15%;
    font-size: auto;
    color: #fff;
    text-align: center;
    opacity: 1;
    text-shadow: none;
}

.carousel-control:hover
{
    color: #000;
}

.carousel-indicators
{
    bottom: -50px;
}

.carousel-indicators li
{
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000\9;
    background-color: rgba(0,0,0,0);
    border: 1px solid #16a085;
    border-radius: 50%;
}

.carousel-indicators .active
{
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #16a085;
}

.carousel-caption
{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    top: 0px;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #000;
    text-align: center;
    text-shadow: none;
}

.item
{
    height: 300px;
    width: 100%;
}

/*
 * END Announcements section
 */

.store
{
    background-color: #ADD8E6;
    line-height: 3;
}

.store .header
{
    color: #fff;
    background-color: #03A9FA;
    line-height: 2;
}

.historical-data {
    padding-left: 0px;
    padding-right: 0px;
}

.historical-data .dropdown-toggle{
    width: 100%;
    background-color: #03A9FA;
    border: none;
    text-align: left;
    font-size: 22px;
    height: 60px;
    padding-top: 14px;
}

.body {
    height: 300px;
    background-color: lightgray;
}

.dropdown-menu {
    width: 100%;
    height:300px;
    padding-top: 0px;
    padding-bottom: 0px;
    border: none;
}

.dropdown-menu li {
    color: gray;
    height: 60px;
    font-size: 22px;
    border-top-width: medium;
    padding: 0px;
}

.nav li:first-of-type a {

}

.nav li a
{
    color: gray;
    padding-top: 12px;
    padding-bottom: 12px;
    background: lightgray;
}

.panel {
    text-align: center; 
    height: 300px;
}

.btn-primary:active:focus, 
.btn-primary:active:hover, 
.open>.dropdown-toggle.btn-primary:active:focus,
.open>.dropdown-toggle.btn-primary:active:hover,
.open>.dropdown-toggle.btn-primary:hover,
.open>.dropdown-toggle.btn-primary,
.open>.dropdown-toggle.btn-primary:focus {
    background-color: #03A9FA;
}
.historical-data-template .carousel-control.left, 
.historical-data-template .carousel-control.right {
    background: none;
    top: 0%;
}